<main>
    <div class="searchbox">
        <div class="line">
            <input class="search" type="text" placeholder="Search...">
        </div>
        <button class="btn">Search</button>
    </div>


    <section class="catalog">
        <div *ngFor="let flat of flats">
            <div class="post">
                <img src={{flat.image}} alt="Flat pic :D">
                <p class="name">Name: {{flat.name}}</p>
                <p>Year: {{flat.year}}</p>
                <a class="btn-detail" routerLink="{{flat._id}}">Details</a>
            </div>
        </div>
    </section>
</main>