<main>
    <!-- <div class="searchbox">
        <div class="line">
            <input class="search" type="text" placeholder="Search...">
        </div>
        <button class="btn">Search</button>
    </div> -->
    <h1 class="heading">You'll find the finest selection of properties here!</h1>

    <section class="catalog">
        <div *ngFor="let flat of flats">
            <div class="post">
                <img src={{flat.image}} alt="Flat pic :D">
                <p class="name">{{flat.name}}</p>
                <p>Year: {{flat.year}}</p>
                <a class="btn-detail" routerLink="{{flat._id}}/details">Details</a>
            </div>
        </div>
    </section>
</main>