<header class="site-header">
    <div class="captcha-div">
        <a class="heading-logo">
            <img src="#" alt="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/catalog" class="head-btn">Search</a></li>
            <li><a routerLink="/about" class="head-btn">Contact</a></li>
            <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/register" class="head-btn">Sign up</a></li>
                <li><a routerLink="/login" class="head-btn">Login</a></li>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                <li><a routerLink="/create" class="head-btn">Create post!</a></li>
                <li><a (click)="logout()" class="head-btn">Logout</a></li>
            </ng-container>
        </ul>
    </nav>
</header>