<div class="wrapper">
    <div class="form-box">
        <h2>Create</h2>
        <form action="#">
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" name="" required>
                <label>Name</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" name="" required>
                <label>Kind</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" name="" required>
                <label>Description</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" name="" required>
                <label>Year</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input type="text" name="" required>
                <label>image</label>
            </div>
            <button class="btn">Create!</button>
        </form>
    </div>
</div>