@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'Cormorant Infant';
}

.wrapper {
    margin: 0 auto;
    margin-top: 150px;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.btn:hover {
    background: #a7a8aa;
}

h2{
    display: flex;
    justify-content: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}

.input-box input{
    color: #FFF;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #d8cfcf;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;

}

.log { 
    color: #FFF;
    text-decoration: none;
}

.log:hover{
    cursor: pointer;
}

.stuff{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    height: 45px;
    background: #dfe3e7;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
}